body {
    color: rgb(109, 109, 109);
    text-align: center;
    font-family: "Arial";
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: grey;
}


#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(189, 189, 189);
    margin: 0 auto;
    background-color: white;
}

#cabecera{
    background: rgb(61, 43, 226);
    color: antiquewhite;
    margin: 0;
    padding: 0.5em;
    
}

#tagline{
    font-size: 16px;
}


#container h1{
    font-size: 25px;
}

#post {
    padding: 1em
}
#footer {
    
    background: rgb(136, 136, 136);
    color: white;
    text-align: center;
    padding: 0.5em;
}

#logo{
    width: 40px;
    vertical-align: middle;
}